
#totop {
    z-index: 1000;
}
.modal-form {
    background-color: white !important;
    overflow-y: visible !important;
}

#main-photo-input {
    height: 100%;
}
.dropify-filename-inner {
    color: #777 !important;
}
.dropify-wrapper.touch-fallback .dropify-clear {
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
}
.dropify-wrapper.touch-fallback .dropify-clear:hover {
    background-color: var(--primary-bg-hover);
    color: white;
    border-color: var(--primary-bg-hover);
}
.dropify-wrapper .dropify-clear {
    top: 0;
    right: 0;
}

@media(max-width: 992px) {
    .settings-wrapper {
        flex-direction: column-reverse;
    }
}

#settings-menu {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 5px;
}

#settings-menu a.active {
    background-color: #bf9456;
    color: white !important;
}

#description-textarea {
    width: 100%;
}