
.register-button {
    border-left: 1px solid white;
}
.login-button {
    padding-right: 15px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.register-button:hover, .login-button:hover {
    color: white !important;
    font-weight: bold;
}
.login-form {
    /*margin-top: 160px;*/
    padding: 5% 30% 10% 30%;
}
.registration-form {
    /*margin-top: 160px;*/
    padding: 3% 30% 10% 30%;
}
button[type="button"] {
    cursor: pointer;
}
@media(max-width: 1200px) {
    .login-form, .registration-form {
        padding: 10% 15% 10% 15%;
    }

    .register-button a, .login-button a {
        text-align: center;
        font-weight: bold;
    }

}
@media(max-width: 600px) {
    .registration-form {
        padding: 20% 15% 20% 15%;
    }
    .login-form {
        padding: 35% 15% 40% 15%;
    }
}

/*Alertify customization*/
/* Change the background color of the Alertify popup */
:root {
    --dark-color: #333;
    --light-brown-color: #bf9456;
    --success-color: rgba(91, 189, 114, .95);
    --error-color: rgba(217,92,92,.95);
    --warning-color: rgba(252,248,215,.95);
}

.alertify-notifier .ajs-message.ajs-success {
    background: var(--success-color);
    color: white;
    text-align: center;
    /*border: 5px solid var(--success-color);*/
}
.alertify-notifier .ajs-message.ajs-error {
    background: var(--error-color);
    color: white;
    text-align: center;
    /*border: 5px solid var(--error-color);*/
}
.alertify-notifier .ajs-message.ajs-warning {
    background: rgba(252,248,215,.95);
    color: black;
    text-align: center;
}