.td-checkbox-cell {
    cursor: pointer;
}
.td-checkbox-cell span {
    position: relative;
    text-align: center;
    top: 1px;
    padding-left: 13px;
}
.form-check-input.checkbox {
    position: relative;
    top: 2px;
    left: 13px;
    cursor: pointer;
    pointer-events: none;
}
#action-buttons-wrapper {
    column-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#action-buttons-wrapper #gif-loader {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}
#action-buttons-wrapper button
{
    height: 35px !important;
    border-radius: 5px;
    margin-top: 5px !important;
}