
.register-button {
    border-left: 1px solid white;
}
.login-button
{
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    padding-right: 15px;
}
.login-button, .register-button {
    padding-right: 15px;
    margin-left: -5px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.register-button:hover, .login-button:hover {
    color: white !important;
    font-weight: bold;
}

.logout-button a,
.profile-button a
{
    color: var(--light-brown-color) !important;
}

.logout-button,
.profile-button
{
    border-left: 1px solid var(--light-brown-color);
    border-right: 1px solid var(--light-brown-color);
    text-align: center !important;
    padding-right: 15px;
}

#menu .profile-button li,
#menu .logout-button > ul > li
{
    text-align: center !important;
}

@media (min-width: 1200px) {
    .login-button a,
    .register-button a {
        color: white !important;
    }
    .login-button {
        padding-right: 0px;
    }
    .profile-button {
        border-left: none;
    }
    .logout-button, .profile-button {
        padding-right: 0px !important;
    }
    .profile-button {
        margin-right: 80px;
        margin-left: -5px;
        /*padding-right: 0px;*/
    }
    .login-button
    {
        border-left: 1px solid #333 !important;
        border-right: 1px solid #333 !important;
    }
    .register-button
    {
        padding-right: 0px;
    }
    .login-button,
    .register-button {
        border-right: 1px solid white !important;
        border-left: 1px solid white !important;
    }

    #menu .profile-button li,
    #menu .logout-button > ul > li
    {
        text-align: left !important;
    }
    #site-header-menu #site-navigation .menu ul > li:last-child > a
    {
        padding-right: 15px !important;
    }
}

.login-form {
    /*margin-top: 160px;*/
    margin: 5% 30% 10% 30%;
    padding: 51px 40px;
    background-color: white;
}
.registration-form {
    /*margin-top: 160px;*/
    margin: 2% 30% 10% 30%;
    padding: 20px 40px;
    background-color: white;
}

button[type="button"] {
    cursor: pointer;
}
@media(max-width: 1200px) {
    .login-form, .registration-form {
        margin: 10% 15% 10% 15%;
    }

    .register-button a, .login-button a {
        text-align: center;
        font-weight: bold;
    }

}
@media(max-width: 600px) {
    .registration-form {
        margin: 20% 2% 20% 2%;
    }
    .login-form {
        margin: 35% 2% 40% 2%;
    }
}

/*Alertify customization*/
/* Change the background color of the Alertify popup */
:root {
    --dark-color: #333;
    --light-grey-color: #545b62;
    --light-brown-color: #c0914c;
    --dark-brown-color: #8f4e08;
    --success-color: rgba(91, 189, 114, .95);
    --error-color: rgba(217,92,92,.95);
    --warning-color: rgba(252,248,215,.95);
    --grey-around-form: #f4f4f2;
    --link-color: #1a0dab;
}

.alertify-notifier .ajs-message.ajs-success {
    background: var(--success-color);
    color: white;
    text-align: center;
    /*border: 5px solid var(--success-color);*/
}
.alertify-notifier .ajs-message.ajs-error {
    background: var(--error-color);
    color: white;
    text-align: center;
    /*border: 5px solid var(--error-color);*/
}
.alertify-notifier .ajs-message.ajs-warning {
    background: rgba(252,248,215,.95);
    color: black;
    text-align: center;
}

/**
    Bootstrap Tooltip
 */
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    left: 0;
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}

.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.tooltip.tether {
    display: none;
}
@media(max-width: 1000px) {
    .tooltip {
        display: none;
    }
}

.tiktok-icon-footer
{
    width: 11px;
    fill: var(--light-brown-color);
}

.tiktok-icon-footer-a:hover .tiktok-icon-footer
{
    fill: white;
}

.tiktok-icon-header
{
    width: 11px;
    fill: white;
}
.tiktok-icon-header:hover
{
    fill: var(--light-brown-color);
}

/**
    Use Profile
 */
.main-content .second-footer {
    padding-left: 50px;
}

.table td {
    vertical-align: middle !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}
/* Example hover effect */
.table td:hover {
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-in-cell {
    width: 100%;
}

/*
Style for the first li item in select option
for resetting the select2 value

.select2-results__options */
#select2-manager-select-results > li:first-child {
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
}

.worker-card-name {
    text-transform: none !important;
}

#site-header-menu .sub-menu a {
    color: #333 !important;
}

.media-block .social-icons a,
.topbar-right .social-icons a,
#totop,
.top-contact a {
    color: #fff !important;
}

i.fa-heart {
    display: none;
}

@media (max-width: 572px)
{
    .time-interval > .card {
        margin-bottom: 30px;
    }

    /*.main-sidebar-body .nav-item.active .nav-link:after,*/
    /*.main-sidebar-body .nav-item.active .nav-link .shape2*/
    /*{*/
    /*    top: 58px;*/
    /*}*/
}

/*Schedule set up form*/
@media(max-width: 768px) {
    .time-interval-value
    {
        display: none;
    }
    .appointments-wrapper thead {
        border-bottom: none;
        border-top: none;
    }
    .time-interval:nth-child(odd) {
        border-left: none !important;
    }
    .time-interval:nth-child(even) {
        border-left: none !important;
    }
}

.link-a {
    color: var(--link-color);
    text-decoration: underline solid 1px var(--link-color);
}
