
.user-name-surname-wrapper {
    color: white;
    text-align: center;
    font-family: "Nimbus Roman No9 L",sans-serif;
    font-size: 20px;
    padding: 3px;
    margin-top: 5px;
}

.user-info-wrapper .dropify-wrapper.has-preview {
    border-radius: 15px;
}
.row {
    justify-content: center;
}
.profile-homepage-user-info {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.profile-homepage-user-info .user-name-surname-wrapper{
    color: black;
    font-size: 30px;
}
.profile-homepage-user-info .user-photo-input {
    height: 150px;
    width: auto;
}
.cards-wrapper .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-color);
    column-gap: 8px;
}
.cards-wrapper .card-header i {
    font-size: 20px;
}
.cards-wrapper .card-header:first-child {
    border-radius: 0;
}
.custom-card {
    padding-right: 0;
    padding-left: 0;
    border: 1px solid var(--dark-color);
}
.custom-card:hover .card-header{
    background-color: var(--dark-brown-color);
}
.custom-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*.cards-wrapper {*/
/*    height: 150px;*/
/*}*/
.cards-wrapper div {
    height: 100%;
    padding-top: 10px;
}
.appointments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 25px;
}

#dataTableLoader {
    display: none;
}
.arrow_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: white;
}
.arrow_column .sort_arrow {
    width: 10px;
    height: 10px;
    /*font-weight: bold;*/
    margin-left: 10px;
}
th, td {
    border: 1px solid #dedede;
    padding: 5px;

}
.appointments-wrapper thead {
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae;
    background-color: var(--middle-brown-color);
    color: white;
}

.btn-manage {
    background-color: var(--dark-color);
    color: white;
}
.btn-manage:hover {
    background-color: var(--light-grey-color);
    color: white;
}
.user-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-img-wrapper {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}
.user-img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}
.profile-homepage-user-info .user-img-wrapper {
    max-width: 160px;
    max-height: 160px;
}

.page-item.active .page-link {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}
.page-item a {
    color: black;
}
.page-item a.disabled {
    color: darkgrey;
}

.row.table-filter {
    justify-content: space-between;
}

.available-schedules {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.available-schedules .card-body form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.available-schedules .form-control {
    padding: 5px;
}
#submit-search-button {
    background-color: var(--dark-color);
    color: white;
}
#submit-search-button:hover {
    background-color: var(--light-grey-color);
}
#reservation {
    padding: 7px;
}

@media(max-width: 992px) {
    .time-range {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 4px;
    }
    .main-content .second-footer {
        padding-left: 0;
    }
    .page-header {
        padding-top: 0 !important;
    }
}
.title {
    margin-bottom: 0;
}
.border-error {
    border: 1px solid #dc3545;
    /*box-shadow: #fd6074 0px 2px 8px 0px;*/
}

.tab-content .card-body {
    padding-top: 5px;
}
#main-schedule-wrapper .tabs-style-3 {
    border: none;
    padding: 0 !important;
}
#main-schedule-wrapper .tabs-style-3 .nav.panel-tabs li a.active {
    background-color: var(--light-brown-color) !important;
}
#main-schedule-wrapper .card-body {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.time-interval {
    padding: 5px;
}
.time-interval:nth-child(odd) {
    border-left: 2px dashed var(--primary-transparentcolor);
}
.time-interval:nth-child(even) {
    border-left: 2px dashed var(--primary-transparentcolor);
}
.time-menu-body {
    padding-top: 0 !important;
}
.time-separation-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.time-interval-value {
    border-left: 2px dashed var(--dark-color);
    border-bottom: 2px solid var(--dark-color);
    /*border-top: 2px solid var(--dark-color);*/
    padding: 5px;
    padding-top: 25px;
    font-size: 18px;
}
.time-interval {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.time-interval .card {
    box-shadow: rgba(21, 21, 21, 0.2) 0px 5px 5px;
    padding: 0px !important;
    font-size: 16px;
    max-width: 100%;
    overflow: auto;
}
.time-interval .card:hover {
    box-shadow: rgba(21, 21, 21, 0.5) 0px 5px 5px;
}

.time-interval .card-header {
    /*padding: 1rem 1.25rem;*/
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif !important;
    background-color: #eaeaea;
}
.time-interval .card-options i {
    margin-left: 5px;
    padding: 8px;
    color: black;
    border-radius: 5px;
}
.time-interval .card-options i:hover {
    cursor: pointer;
    background-color: var(--light-grey-color);
    color: white;
}
.card-schedule-content, .card-worker-wrapper {
    padding: 10px;
}
.card-worker-wrapper {
    padding-bottom: 0;
}
.ttm-btn-bgcolor-skincolor {
    background-color: var(--light-brown-color) !important;
}
.profile-url {
    text-decoration: underline;
    color: #2964aa;
}

/**
Search Schedule Form
 */
.mg-b-0 {
    margin-bottom: 0;
}

.price-d-flex {
    display: flex;
    width: 100%;
}
.search-btn-schedule {
    align-self: start;
    margin-top: 5px;
}

@media (max-width: 992px) {
    .button-wrapper {
        margin-top: 20px;
        width: 200px;
    }
    .button-wrapper button {
        margin-right: 10px;
    }
}
